#container{
  justify-content: center;
  display: flex;
}

  
  $break-small: 500px;
  $break-large: 1200px;


  nb-chat {
    width: 80%;
    
    height: 80vw;
   
    @media screen and (max-width: $break-small) {
      //width: 500px;
      height: 20%;
      float: none;
    }
    @media screen and (min-width: $break-large) {
      margin-top:5%;
      height: 80%;
      float: right;
     
    }
  }


  


