<div id="container">
<nb-chat id="chat" title="Maximo" size="medium" status="primary">
    <nb-chat-message *ngFor="let message of messages"
                     [type]="message.type"
                     [message]="message.text"
                     [reply]="message.reply"
                     [sender]="message.user.name"
                     [date]="message.date"
                     [files]="message.files"
                     [quote]="message.quote"
                     [latitude]="message.latitude"
                     [longitude]="message.longitude"
                     [avatar]="message.user.avatar"></nb-chat-message>
    <nb-chat-form (send)="sendMessage($event, 'Visitante', 'http://www.reactiongifs.com/r/wnd1.gif', true)" [showButton]="false" [dropFiles]="true">
    </nb-chat-form>
  </nb-chat>
</div>
  <!--
    ::ng-deep nb-layout-column {
    justify-content: center;
    display: flex;
  }
-->