<nb-card class="largo">
    <nb-card-body fullWidth>
        <!--
        <nb-icon icon="phone-outline" [options]="{ animation: { type: 'zoom' } }"></nb-icon>
-->


        <button nbButton disabled ghost status="primary"><nb-icon icon="phone-outline" [options]="{ animation: { type: 'zoom' } }"></nb-icon> 099 94 15 16</button>
        <button nbButton disabled ghost shape='round' status="success"><a target='blank_' href='https://www.linkedin.com/in/m%C3%A1ximo-lanza/'><nb-icon icon="linkedin-outline" [options]="{ animation: { type: 'zoom' } }"></nb-icon></a></button>
        <button nbButton ghost status="danger"><nb-icon icon="google-outline" [options]="{ animation: { type: 'zoom' } }" style="margin-right: 0px;padding-right:0px;"></nb-icon>mail<nb-icon icon="at-outline" [options]="{ animation: { type: 'zoom' } }"></nb-icon></button>
       
  <!--
      <nb-actions size="small" >
        <nb-action icon="at-outline"></nb-action>
        <nb-action icon="linkedin-outline"></nb-action>
          <nb-action title='099 94 15 16' icon="phone-outline"></nb-action> 
        <nb-action icon="google-outline"></nb-action>
      
       
      </nb-actions>
     --> 
      

    </nb-card-body>
  </nb-card>


  
  <nb-card>
    <nb-card-body class="example-items-rows">
        <input type="text" nbInput fullWidth fieldSize="small" placeholder="Nombre">
        <input type="text" nbInput fullWidth fieldSize="small" placeholder="email@ejemplo.com">
        <input type="text" nbInput fullWidth fieldSize="small" placeholder="Asunto">
        <textarea nbInput fullWidth placeholder="Mensaje"></textarea>
        <button fullWidth nbButton outline status="info">Enviar</button>
    </nb-card-body>
  </nb-card>