<div class="container">
  <nb-card id="card" class="mail" [nbSpinner]="loading"
  nbSpinnerStatus="info"
  nbSpinnerSize="large"
  nbSpinnerMessage="">
    <nb-card-header id="headermail">Sentite libre de escribirme.</nb-card-header>
    <nb-card-body class="example-items-rows">
        <input id="inputMail" type="text" nbInput fullWidth fieldSize="small" placeholder="Nombre/mail" [(ngModel)]="inputMail">
         <textarea id="inputMessage" nbInput fullWidth placeholder="Mensaje" [(ngModel)]="inputMensaje"></textarea>
        <button fullWidth nbButton outline status="info" (click)="sendMailSpinner();" >Enviar</button>
    </nb-card-body>
  </nb-card>

</div>

