<nb-card size="large">
        <nb-card-body>
          <nb-stepper orientation="horizontal">
            <nb-step label="Experiencia">
                <h5>Experiencia</h5>
              <h6>Hospital Britanico</h6>
              <p class="lorem">
                Me desempeño en las tareas de desarrollo en Genexus (nuevas funcionalidades y modificación de funcionalidades existetes).
                Control y seguimiento de incidentes.
                Analisis de datos con SQL Server Managemen y generación de reportes.
                Integración de grupo de innovación del sector de Desarrollo.
                Atención telefónica de 2do nivel y acceso remoto.
              </p>
              <h6>Emestudio</h6>
              <p class="lorem">
                Realizé tareas de soporte técnico de hardware y software de clientes de forma presencial y remota.
                Conducción de vehículo de la empresa.
                Capacitación de SoftRestaurant a clientes.
                Seguimiento de usabilidad del sistema en locales comerciales de los clientes.
              </p>
              <button nbButton disabled nbStepperPrevious><nb-icon icon="arrow-back-outline" [options]="{ animation: { type: 'zoom' } }"></nb-icon></button>
              <button nbButton nbStepperNext><nb-icon icon="arrow-forward-outline" [options]="{ animation: { type: 'zoom' } }"></nb-icon></button>
            </nb-step>
            <nb-step label="Estudios">
              <h5>Estudios</h5>
              <h6>Tecnologo en Informática</h6>
              <p class="lorem">
                Año de inicio: 2015
                Estado: Avanzado (En curso)
                Instituto: CEPT - Utu Buceo
                Localidad: Montevideo
              </p>
              <h6>Bachillerato de Informátcia</h6>
              <p class="lorem">
                  Año de inicio: 2010
                  Estado: Finalizado 2012
                  Instituto: UTU Bachillerato de Informática - Hermenegildo Sabat
                  Localidad: Florida
              </p>
              <button nbButton  nbStepperPrevious><nb-icon icon="arrow-back-outline" [options]="{ animation: { type: 'zoom' } }"></nb-icon></button>
              <button nbButton nbStepperNext><nb-icon icon="arrow-forward-outline" [options]="{ animation: { type: 'zoom' } }"></nb-icon></button>
            </nb-step>
            <nb-step label="Habilidades">
              <h5>Habilidades</h5>
          
              <p class="lorem">
                Proin varius accumsan semper. Praesent consequat tincidunt sagittis. Curabitur egestas sem a ipsum bibendum,
                sit amet fringilla orci efficitur. Nam bibendum lectus ut viverra tristique. Fusce eu pulvinar magna, quis
                viverra ex. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent metus turpis, commodo vel
                placerat quis, lobortis in ligula.
              </p>
              <p class="lorem">
                Curabitur luctus mattis risus nec condimentum. Donec at dui turpis. Sed vehicula fringilla rutrum. Nullam
                sed ornare magna. Mauris vitae laoreet diam. Mauris fermentum ligula at lacinia semper. Nulla placerat dui
                eu sapien pellentesque, eu placerat leo luctus. Cras pharetra blandit fermentum.
              </p>
              <button nbButton  nbStepperPrevious><nb-icon icon="arrow-back-outline" [options]="{ animation: { type: 'zoom' } }"></nb-icon></button>
              <button nbButton nbStepperNext><nb-icon icon="arrow-forward-outline" [options]="{ animation: { type: 'zoom' } }"></nb-icon></button>
            </nb-step>
            <nb-step label="Referencias">
              <h5>Referencias</h5>
              <p class="lorem">
                Proin varius accumsan semper. Praesent consequat tincidunt sagittis. Curabitur egestas sem a ipsum bibendum,
                sit amet fringilla orci efficitur. Nam bibendum lectus ut viverra tristique. Fusce eu pulvinar magna, quis
                viverra ex. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent metus turpis, commodo vel
                placerat quis, lobortis in ligula.
              </p>
              <p class="lorem">
                Curabitur luctus mattis risus nec condimentum. Donec at dui turpis. Sed vehicula fringilla rutrum. Nullam
                sed ornare magna. Mauris vitae laoreet diam. Mauris fermentum ligula at lacinia semper. Nulla placerat dui
                eu sapien pellentesque, eu placerat leo luctus. Cras pharetra blandit fermentum.
              </p>
              <button nbButton  nbStepperPrevious><nb-icon icon="arrow-back-outline" [options]="{ animation: { type: 'zoom' } }"></nb-icon></button>
              <button nbButton disabled nbStepperNext><nb-icon icon="arrow-forward-outline" [options]="{ animation: { type: 'zoom' } }"></nb-icon></button>
            </nb-step>
          </nb-stepper>
        </nb-card-body>
      </nb-card>