 <div class="resume-wrapper"> <!-- EXPERIENCE  -->
  <section class="experience section-padding">
      <div class="container">
        <h3 class="experience-title">Experiencia</h3>
        
        <div class="experience-wrapper">
          <div class="company-wrapper clearfix">
            <div class="experience-title">Hospital Británico</div>
            <div class="time">Set 2017 - Actualidad</div> 
          </div>
          
          <div class="job-wrapper clearfix">
            <div class="experience-title">Desarrollador GeneXus </div> 
            <div class="company-description">
                <ul *ngFor="let t of tareasHB">
                    <li>
                      {{ t.descripcion }}
                    </li>
                  </ul>
            </div>
          </div>
          
          <div class="company-wrapper clearfix">
            <div class="experience-title">Emestudio</div> 
            <div class="time">Enero 2015 - Mayo 2016</div> 
          </div>
          
           <div class="job-wrapper clearfix">
            <div class="experience-title">Soporte Técnico</div> 
            <div class="company-description">
                <ul *ngFor="let t of tareasE">
                    <li>
                      {{ t.descripcion }}
                    </li>
                  </ul>
            </div>
          </div>
          
         
          
        </div><!--Skill experience-->
      </div>
  </section>

  <section class="profile section-padding">
      <div class="container">
          <h3 class="profile-title">Habilidades</h3>
          <div>
          <h5 class="profile-subtitle"> Java</h5>
          <hr>
          <div id="tagcontainer" >
              <span *ngFor="let s of skillsJava" class="badge badge-pill badge-light"> <font color="white">{{s.tag}}</font> </span>
                 
            </div>  
            <hr>
          </div>

          <div>
              <h5 class="profile-subtitle"> Angular</h5>
              <hr>
              <div id="tagcontainer" >
                  <span *ngFor="let s of skillsAngular" class="badge badge-pill badge-light"> <font color="white">{{s.tag}}</font> </span>
                     
                </div>  
                <hr>
              </div>

              <div>
                  <h5 class="profile-subtitle"> NodeJs (Básico)</h5>
                  <hr>
                  <div id="tagcontainer" >
                      <span *ngFor="let s of skillsNodeJs" class="badge badge-pill badge-light"> <font color="white">{{s.tag}}</font> </span>
                         
                    </div>  
                    <hr>
                  </div>
                  <div>
                      <h5 class="profile-subtitle"> Otros</h5>
                      <hr>
                      <div id="tagcontainer" >
                          <span *ngFor="let s of skillsOtros" class="badge badge-pill badge-light"> <font color="white">{{s.tag}}</font> </span>
                             
                        </div>  
                        <hr>
                      </div>
        </div>
    </section>
  </div>